{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="ads-row">
        {% for ad in ads %}
                    <div class="info-col big">
                        <h2>{{ad.company}}</h2>
                        <p class="">{{ad.desc}}</p>
                        <p class="small-info">
                            <ion-icon name="location-outline"></ion-icon>
                                {{ad.address}}
                        </p>
                    </div>
                    <div class="info-col">
                        <p class="small-info">
                            <ion-icon name="call-outline"></ion-icon>
                            {{ad.phone}}
                        </p>
                        <p class="small-info">
                            <ion-icon name="mail-outline"></ion-icon>
                            {{ad.email}}
                        </p>
                    </div>    
        {% endfor %}
    </div>
</div>
{% endblock content%}