@media only screen and (max-width: 564px){
    #detail{
        width: 95%;
    }
}

@media only screen and (max-width: 564px) {
    html, body {
        font-size: 8px;
    }

    .ad-col {
        flex: 1 0 100%;
    }

    #detail {
        padding: 1rem;
    }
    
}